<!DOCTYPE html>
<html>
<head>
  <title>Mock Rws</title>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <% #javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body   data-spy="scroll" data-target="#main-nav">
<%= yield %>
<footer class="footer">
  <div class="container">
    <p>Built with all the love in the world by <a href="http://twitter.com/otter311" target="_blank">@otter311</a>.</p>
    <p>Code licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>, documentation under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
    <ul class="footer-links">
      <li><a href="http://www.mdsol.com/">Medidata Solutions</a></li>
      <li class="muted">·</li>
      <li><a href="ttp://blog.mdsol.com/">Blog</a></li>
      <li class="muted">·</li>
      <li><a href="mailto:cross@mdsol.com">Issues</a></li>
    </ul>
  </div>
</footer>
<script src="//code.jquery.com/jquery.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</body>
</html>
